﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Database.aspx.cs" Inherits="Assignment2a.Database" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Concept" runat="server">
</asp:Content>
