﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="DeletePage.aspx.cs" Inherits="finalproject.DeletePage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <div> delete page</div>
    <asp:SqlDataSource ID="page_select" runat="server" ConnectionString="<%$ ConnectionStrings:final_sql_con %>">
        <asp:sqlDataSource runat="server" ID="del_page"
            ConnectionString="<%$ ConnectionStrings:final_sql_con %>">
    </asp:SqlDataSource>
       <div id="page_query" runat ="server"></div>
        <div id="pagetitle" runat="server"></div>
        <p runat="server" id="pagecontent"></p>
        <a class="color" href="EditPage.aspx?Pageid="<%Response.Write(this.pageid); %>">Edit</a>
    <asp:Button text="delete" runat="server" Onclick="Delpage" />
</asp:Content>


    

